<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="insertDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, create_time, update_time, create_user,
                          update_user, status)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{createTime}, #{updateTime}, #{createUser},
                #{updateUser}, #{status})
    </insert>

    <delete id="deleteBatch">
        delete
        from dish
        where id in
        <foreach collection="ids" item="id" close=")" open="(" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*, c.name as categoryName
        from dish d
        left join category c on d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>

    </select>
    <select id="getDishIds" resultType="java.lang.Long">
        select id
        from dish
        <where>
            <if test="ids != null and ids.size() > 0">
                id in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            and status = 1
        </where>
    </select>
    <select id="getById" resultMap="dishVOResultMap">
        select d.id          as d_id,
               d.name        as d_name,
               d.category_id as d_category_id,
               d.price       as d_price,
               d.image       as d_image,
               d.description as d_description,
               d.status      as d_status,
               d.update_time as d_update_time,

               c.name        as c_name,

               df.id         as df_id,
               df.name       as df_name,
               df.dish_id    as df_dish_id,
               df.value      as df_value
        from dish d
                 left join category c on d.category_id = c.id
                 left join dish_flavor df on d.id = df.dish_id
        where d.id = #{id}
    </select>

    <resultMap id="dishVOResultMap" type="com.sky.vo.DishVO">

        <!-- Dish 主表 -->
        <id property="id" column="d_id"/>
        <result property="name" column="d_name"/>
        <result property="categoryId" column="d_category_id"/>
        <result property="price" column="d_price"/>
        <result property="image" column="d_image"/>
        <result property="description" column="d_description"/>
        <result property="status" column="d_status"/>
        <result property="updateTime" column="d_update_time"/>

        <!-- 分类 -->
        <result property="categoryName" column="c_name"/>

        <!-- 口味集合 -->
        <collection property="flavors" ofType="com.sky.entity.DishFlavor">
            <id property="id" column="df_id"/>
            <result property="name" column="df_name"/>
            <result property="dishId" column="df_dish_id"/>
            <result property="value" column="df_value"/>
        </collection>

    </resultMap>

    <update id="update">
        update dish
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>

    <select id="list" resultType="com.sky.entity.Dish">
        select * from dish d
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from dish
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>
