<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <insert id="insert" parameterType="Setmeal" useGeneratedKeys="true" keyProperty="id">
        insert into setmeal (category_id, name, price, status, description, image, create_time, update_time,
                             create_user, update_user)
        values (#{categoryId}, #{name}, #{price}, #{status}, #{description}, #{image}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>

    <update id="update" parameterType="Setmeal">
        update setmeal
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="page" resultType="com.sky.vo.SetmealVO">
        select
        s.*,c.name categoryName
        from
        setmeal s
        left join
        category c
        on
        s.category_id = c.id
        <where>
            <if test="name != null">
                and s.name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
            <if test="categoryId != null">
                and s.category_id = #{categoryId}
            </if>
        </where>
        order by s.create_time desc
    </select>
    <select id="getByIds" resultType="java.lang.Integer">
        select id
        from setmeal
        where status = 1 and id in
        <foreach collection="ids" item="id" close=")" open="(" separator=",">
            #{id}
        </foreach>
    </select>
    <delete id="deleteBatch">
        delete from setmeal where id in
        <foreach collection="ids" item="id" close=")" open="(" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="getByIdSetmealWithDish" resultMap="SetmealVOResultMap">
        SELECT s.id          AS setmeal_id,
               s.name        AS setmeal_name,
               s.category_id AS category_id,
               c.name        AS category_name,
               s.price       AS setmeal_price,
               s.image,
               s.description,
               s.status,
               s.update_time,

               sd.id         AS sd_id,
               sd.setmeal_id,
               sd.dish_id,
               sd.copies,

               d.name        AS dish_name,
               d.price       AS dish_price
        FROM setmeal s
                 LEFT JOIN category c ON s.category_id = c.id
                 LEFT JOIN setmeal_dish sd ON s.id = sd.setmeal_id
                 LEFT JOIN dish d ON sd.dish_id = d.id
        WHERE s.id = #{id}

    </select>
    <resultMap id="SetmealVOResultMap" type="com.sky.vo.SetmealVO">

        <!-- 主键 -->
        <id property="id" column="setmeal_id"/>

        <!-- 基本字段 -->
        <result property="name" column="setmeal_name"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="price" column="setmeal_price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>

        <!-- 一对多 -->
        <collection property="setmealDishes"
                    ofType="com.sky.entity.SetmealDish">
            <id property="id" column="sd_id"/>
            <result property="setmealId" column="setmeal_id"/>
            <result property="dishId" column="dish_id"/>
            <result property="copies" column="copies"/>
            <result property="name" column="dish_name"/>
            <result property="price" column="dish_price"/>
        </collection>

    </resultMap>


</mapper>
